*, body{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #e0e0e0;
}

.main-section{
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}
.main-section header{
    background: url(./assets/music-bg.jpg) center center no-repeat;
    background-size: cover;
    height: 350px;
    width: 100%;
    display: grid;
    place-items: center;
}
.container{
    max-width: 80%;
    margin: 0 auto;
}
h1{
    font-size: 45px;
    line-height: 30px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
p{
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
    display: block;
    width: 100%;
    text-align: center;
}
.form-combine{
    display: flex;
}
.form-group{
    margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}

.form-group label {
	display: inline-block;
	margin-bottom: 5px;
}
.input-control{
    width: 450px;
    height: 45px;
    border-radius: 4px;
    padding: 10px;
    line-height: 34px;
    color: #222;
    box-shadow: #fff 0 0 4px;
    border: none;
    font-family: inherit;    
    box-sizing: border-box;
    margin-right: 10px;
    font-size: 18px;
    border: 2px solid #f0f0f0;
}
.input-control:focus{
    outline: 0;
	border-color: #777;
}
.form-group.success input {
	border-color: #2ecc71;
}
.form-group.error input {
	border-color: #e74c3c;
}
.form-group i {
	visibility: hidden;
	position: absolute;
	top: 15px;
    right: 20px;
}
.form-group.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-group.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}

.form-group small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-group.error small {
	visibility: visible;
}
.btn{
    height: 45px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    background: white;
    color: rebeccapurple;
    cursor: pointer;
    font-family: inherit;
    font-size: 18px;
    display: inline;
}
.btn:focus{
    outline: none;
}
.lyricsResult{
    background-color: #e0e0e0;
    color: #222;
    list-style: none;
    margin: 0px auto;
    padding: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 1280px;
    justify-content: center;
}

.pt-0{
    padding-top: 0px !important;
}

.lyricsResult li{
    display: inline-block;
    background-color: #fff;
    width: 20%;
    height: 255px;
    border-radius: 4px;
    margin: 0 20px 80px 0;
    color: #222;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: #a7a7a7 0 1px 7px;
    position: relative;
}
.lyricsResult li button{
    height: 45px;
    padding: 0 20px;
    border: none;
    border-radius: 4px;
    background: white;
    color: rebeccapurple;
    cursor: pointer;
    font-family: inherit;
    font-size: 15px;
    display: block;
    margin: 0 auto;
    box-shadow: #a7a7a7 0 3px 10px;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
}

.lyricsResult li a{
    text-decoration: none;
    color: #222;
}
.lyricsResult li a p{
    font-size: 14px;
    text-align: left;
    margin: 0 0 10px 0;
}
.lyricsResult li a p span{
    font-weight: bold;
}
.album-image img{
    width: 120px;
    margin: -71px auto 15px auto;
    text-align: center;
    display: flex;
    height: 120px;
    border-radius: 50%;
}


/* Modal Styles */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1000;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
    /* Black with opacity */
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    /* 10% from the top and centered */
    padding: 20px;
    border-radius: 8px;
    width: 60%;
    /* Adjust width as needed */
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #222;
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 12px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

pre {
    white-space: pre-wrap;
    /* Ensure line breaks are respected */
    word-wrap: break-word;
    /* Ensure long words break correctly */
    text-align: left;
    /* Align lyrics to the left for readability */
}


.lyricsResult h3{
    display: block;
    margin-bottom: 20px;
}
.recommend-item {
    background: #fff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.recommend-item button{
    margin-left: auto;
    background-color: rgb(111, 124, 243);
    color: #fff;
    padding: 8px 8px;
    border: none;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}